extends includes/_layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Главная страница
block content
	// блок опыта работы
	.experience
		.container
			.experience__section
				p.experience__title
					span.experience__title-num 11
					span.experience__title-text лет<br>опыта
				.experience__block
					p.experience__block-title 200+
					p.experience__block-text успешных<br>проектов
				.experience__block
					p.experience__block-title 32
					p.experience__block-text рекомендации<br>от клиентов
				.experience__block
					p.experience__block-title 12
					p.experience__block-text мастеров<br>своего дела
	// / блок опыта работы
	// портфолио
	.portfolio
		.container
			.portfolio__section
				.page-title__block
					p.page-title__block-title Работы
					p.page-title__block-subtitle Портфолио
				.portfolio__block
					a(href="#!")
						.portfolio__block-inner
							.portfolio__block-inner-element-holder(style="bottom: 0; left: 20px;")
								img.portfolio__block-inner-element.right-to-left(src="img/portfolio/index-starbody/el-4.png", alt="stabody-element")
							.portfolio__block-inner-element-holder(style="bottom:-25px;left:-35px;")
								img.portfolio__block-inner-element.left-to-right(src="img/portfolio/index-starbody/el-1.png", alt="stabody-element")
							.portfolio__block-inner-element-holder(style="right: 20px; bottom: 0;")
								img.portfolio__block-inner-element.left-to-right(src="img/portfolio/index-starbody/el-3.png", alt="stabody-element" )
							.portfolio__block-inner-element-holder(style="bottom: -35px; right: -45px;")
								img.portfolio__block-inner-element.right-to-left(src="img/portfolio/index-starbody/el-2.png", alt="stabody-element")
					a.portfolio__block-link(href="#!") Онлайн-школа фитнеса «StarBody»
					p.portfolio__block-description Промо-сайт и закрытый портал с системой многоуровневого доступа для клиентов и сотрудников.
				.portfolio__block.portfolio__block--second
					a(href="#!")
						.portfolio__block-inner(style="background: url(img/portfolio/index-everglass/everglass-bg.jpg); 0 0 no-repeat;")
							.portfolio__block-inner-element-holder(style="bottom: 35px; left: 30px;")
								img.portfolio__block-inner-element.right-to-left(src="img/portfolio/index-everglass/el-1.png", alt="everglass-element")
							.portfolio__block-inner-element-holder(style="bottom:-25px;left:-75px;")
								img.portfolio__block-inner-element.left-to-right(src="img/portfolio/index-everglass/el-2.png", alt="everglass-element")
					a.portfolio__block-link(href="#!") Корпоративный сайт автохимии «Everglass»
					p.portfolio__block-description Корпоративный сайт с каталогом продукции, уникальными страницами и интернет-магазином.
				.portfolio__block.portfolio__block--third
					a(href="#!")
						.portfolio__block-inner
							.portfolio__block-inner-element-holder(style="bottom: 0; left: -50px;")
								img.portfolio__block-inner-element.left-to-right(src="img/portfolio/index-status/el-1.png", alt="status-element")
							.portfolio__block-inner-element-holder(style="bottom:-10px;right:-60px;")
								img.portfolio__block-inner-element.right-to-left(src="img/portfolio/index-status/el-2.png", alt="status-element")
							.portfolio__block-inner-element-holder(style="bottom:-25px;right:-65px;")
								img.portfolio__block-inner-element.left-to-right(src="img/portfolio/index-status/el-3.png", alt="status-element")
					a.portfolio__block-link(href="#!") Интернет-магазин офисной мебели «Статус Групп»
					p.portfolio__block-description Интернет-магазин со сложным каталогом, фильтрами, связанными товарами, корзиной и оплатой.
				.portfolio__block-more
					| Хотите увидеть больше
					br
					a(href="#!") наших работ?
	// / портфолио
	// преимущества
	.advantages
		// элементы декора
		.advantages__el.advantages__el--flower.hidden-sm
		.advantages__el.advantages__el--cup
		.advantages__el.advantages__el--sharpener
		// / элементы декора
		.container
			.page-title__block
				p.page-title__block-title Плюсы
				p.page-title__block-subtitle Преимущества
			.row
				.col-sm-4
					.advantages__block
						p.advantages__block-num 1.
						p.advantages__block-title Огромный опыт
						p.advantages__block-text Мы работаем в сфере IT уже более 11 лет. Это правда очень много.
						.advantages__el.advantages__el--pencil
				.col-sm-4
					.advantages__block
						p.advantages__block-num 2.
						p.advantages__block-title Уникальный подход
						p.advantages__block-text В то время как другие массово используют шаблонные решения — мы действтиельно вникаем в суть проекта и предлагаем крутые решения.
				.col-sm-4
					.advantages__block
						p.advantages__block-num 3.
						p.advantages__block-title Адекватные цены
						p.advantages__block-text Мы знаем по каким ценам работают наши конкуренты. Регулярно анализируем рынок. Стараемся не загибать ценник.
			.row
				.col-sm-4.col-sm-offset-8
					.advantages__block
						p.advantages__block-num 4.
						p.advantages__block-title Железные гарантии
						p.advantages__block-text Если мы беремся за проект, то гарантируем, что клиент будет доволен результатом. А еще мы платим неустойку, если сроки сорваны.
						.advantages__el.advantages__el--iphone
			.row
				.col-sm-4.col-sm-offset-4
					.advantages__block.m-t
						p.advantages__block-num 5.
						p.advantages__block-title И вобще
						p.advantages__block-text Мы действтиельно хорошо делаем свое дело и ответственно подходим к каждому из этапов разработки.
	// / преимущества
	// рекомендации
	.recommendations
		.container
			.page-title__block
				p.page-title__block-title.font-sm Рекомендации
				p.page-title__block-subtitle Нам доверяют
			br
			.row
				.col-sm-5
					.recommendations__img-holder
						a.js-fancybox(href="img/dev-content/letter-1.jpg")
							img.recommendations__img(src="img/dev-content/letter-1.jpg", alt="recommendation")
				.col-sm-7
					.recommendations__thumb-block
						- for (i=1;i<=32;i++) {
							if (i==1)
								img.recommendations__thumb.active(src="img/dev-content/thumb.jpg", alt="thumb" data-img-src="img/dev-content/letter-#{i%2 ? '1':'2'}.jpg")
							else
								img.recommendations__thumb(src="img/dev-content/thumb.jpg", alt="thumb" data-img-src="img/dev-content/letter-#{i%2 ? '1':'2'}.jpg")
						- }
					img.recommendations__decor.visible-lg(src="img/guy.png", alt="")
	// / рекомендации
	// видео блок
	.video
		.container
			.video__block
				.video__block-inner
					a.video__block-play(href="javascript:void(0);")
					iframe#video(width="100%" height="600" src="https://www.youtube.com/embed/JPuQVOPOAXA?rel=0&showinfo=0" frameborder="0" allowfullscreen)
	// / видео блок
	// информация
	.prefooter-form
		.container.js-phone-trigger-parent
			.prefooter-form__title-block
				p.prefooter-form__title-block-text Вы в шаге от правильного решения:
				p.prefooter-form__title-block-title
					strong.js-phone-holder #{mskPhone}
			// блок смены телефонов
			.prefooter-form__trigger-phone
				a.prefooter-form__trigger.prefooter-form__trigger--msk.js-phone-trigger.active(href="#!" data-phone="#{mskPhone}") Москва
				a.prefooter-form__trigger.prefooter-form__trigger--ods.js-phone-trigger(href="#!" data-phone="#{odsPhone}") Одесса
			// / блок смены телефонов
			// инфо
			.prefooter-form__info
				a.prefooter-form__info-link.prefooter-form__info-link--skype(href="skype:#{skype}?call") #{skype}
				a.prefooter-form__info-link.prefooter-form__info-link--email(href="mailto:#{email}") #{email}
			// / инфо
			// контент формы
			.prefooter-form__block
				.prefooter-form__block-inner
					form(action="#!")
						.prefooter-form__block-inner-text
							| Здравствуйте. Меня зовут
							input.prefooter-form__block-inner-input(type="text" required)
							| . Мы подбираем команду для 
							.prefooter-form__block-inner-select-block
								span.prefooter-form__block-inner-select-holder(collapse-trigger="dev-list") разработки сайта
								ul.prefooter-form__block-inner-select#dev-list
									li.prefooter-form__block-inner-select-item разработки сайта
									li.prefooter-form__block-inner-select-item разработки приложения
									li.prefooter-form__block-inner-select-item нечта особенного
							| . В общих чертах нам нужно
							input.prefooter-form__block-inner-input(type="text" required)
							| . Отправьте мне на электронную почту:
							input.prefooter-form__block-inner-input(type="email" required)
							| примерную смету и оценку по времени. Мой номер телефона для связи
							input.prefooter-form__block-inner-input.js-only-number(type="tel" required)
							input.js-data-develop(type="hidden")
						button.prefooter-form__block-inner-submit(type="submit") Отправить
						.prefooter-form__block-inner-description.hidden-xs
							img.prefooter-form__block-inner-description-img.js-time-img(src="img/prefooter-img-1.png", alt="prefooter-img")
							span.prefooter-form__block-inner-description-text.js-time-text Так как еще утро — ответ будет уже к обеду.
			// / контент формы
	// / информация